* {
    padding: 0px;
    margin: 0px;
}

body {
    position: relative;
    width: 1920px;
    height: 1000px;

}

.d22 {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 60px solid transparent;
    border-top: 60px solid #F4B915;
    border-left: 60px solid #F4B915;
    border-bottom: 60px solid #F4B915;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    transition: .5s ease;
}
.mouse_open::after {
    content: '';
    display: block;
    background-color: #F4B915;
    width: 120px;
    height: 120px;
    position: absolute;
    translate: -50% -50%;
    border-radius: 100%;
}

.food {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
.cont{
    width: 400px;
    height: 400px;
    border: solid 2px ;
    background-color: lightslategray;

}
.point {
    font-size: 40px;
    text-align: center;
}
.time {
    font-size: 40px;
    text-align: center;
}





#heart {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    
    display: none;
    width: 60px;
    height: 30px;
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}